@{
    ViewData["Title"] = "Create Account";
}


<style>
    .clic {
        border: none;
        width: 150px;
        border-radius: 20px;
        color: white;
        background-color: deepskyblue;
    }
</style>

<h3>Create Account</h3>
<br />

<div>
    <h3>First Name</h3>
    <input type="text" name="firstname" />
</div>

<div>
    <h3>Last Name</h3>
    <input type="text" name="lastrname" />
</div>

<div>
    <h3>Username</h3>
    <input type="text" name="username" />
</div>

<div>
    <h3>Email Address</h3>
    <input type="text" name="email" />
</div>

<div>
    <h3>Password</h3>
    <input type="text" name="password" />
</div>

<button onclick="href.location='../Home/Dashboard'" class="clic">Submit</button>
