<link href="css/addons/datatables.min.css" rel="stylesheet">
<script href="css/addons/datatables.min.js" rel="stylesheet"></script>

<h3>Users</h3>

<script>$(document).ready(function () {
$('#dtBasicExample').DataTable();
$('.dataTables_length').addClass('bs-select');
});</script>

<table id="dtBasicExample" class="table table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">
                UserName
            </th>
            <th class="th-sm">
                Name
            </th>
            <th class="th-sm">
                Email Address
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>liliasuau</td>
            <td>Lilia Suau</td>
            <td>liliasuau@oakland.edu</td>
        </tr>
        <tr>
            <td>joshbrudnak</td>
            <td>Josh Brudnak</td>
            <td>joshbrudnak@oakland.edu</td>
        </tr>
        <tr>
            <td>williamcarney</td>
            <td>William Carney</td>
            <td>williamcarney@oakland.edu</td>
        </tr>


    </tbody>
</table>