@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<style>
    .clic {
        border: none;
        width: 100px;
        border-radius: 20px;
        color: white;
        background-color: deepskyblue;
    }

    .cont {
        margin-top: -10px;
    }

    p, h1, h2, h3, h4, h5 {
        font-family: sans-serif;
    }
</style>

<h3>Login</h3>
<h3></h3>

<div>
    <h5>Username</h5>
    <input id="Username" class="cont" type="text" />
</div>

<div>
    <h5>Password</h5>
    <input id="Password" class="cont" type="text" />
</div>

<h3></h3>

<button onclick="login()" class="clic">Login</button>

<script>function login() {
        const Username = document.getElementById("Username").value;
        const Password = document.getElementById("Password").value;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:8080/api/login', true);
        xhr.setRequestHeader('Access-Control-Allow-Headers', '*');
        xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
        //xhr.setRequestHeader('Authorization', 'Bearer ' + access_token);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

        xhr.onload = function() {
            if (xhr.responseText) {
                document.cookie = `SESSIONID=${xhr.responseText}`
                window.location.href = 'Home/Dashboard';
            }
        }

        xhr.send(JSON.stringify({Username, Password}));
    }
</script>
