@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>Please contact our help team below.</h3>

<address>
    <strong>Support:</strong> <a href="mailto:budgetplanningteam@protonmail.com">budgetplanningteam@protonmail.com</a><br />
</address>
