@{
    ViewData["Title"] = "My Dashboard";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
    .clic {
        border: none;
        width: 150px;
        border-radius: 20px;
        color: white;
        background-color: deepskyblue;
    }

    .cont {
        height: 500px;
        width: 1225px;
        margin-left: -50px;
    }

    p, h1, h2, h3, h4, h5 {
        font-family: sans-serif;
    }
</style>

<div class="cont">
    <img class="cont" style="width:1302px;" src="https://assets-blog.fundera.com/assets/wp-content/uploads/2018/04/29170223/variable-expenses-1.jpg" />
    <h3 style="margin-top:-480px;margin-left:45px;color:white;">Budget Planner</h3>
</div>

<h4 style="text-align:center;">Budget Planner is a simple budgeting application that allows users to create, configure, and monitor budgets over time. Users are also able to update their progress in the various budget categories.</h4>

<button onclick="window.location='Home/Dashboard'" style="margin-left:475px;" class="clic">Create an Account</button>
