@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Your privacy is important to us. Your data is managed in a secure database and you are the only one allowed to access that data.</p>
